[submodule "chapter_4_modeling/youtube_scrape"]
	path = chapter_4_modeling/youtube_scrape
	url = https://github.com/jim-schwoebel/youtube_scrape
[submodule "chapter_4_modeling/pyAudioAnalysis"]
	path = chapter_4_modeling/pyAudioAnalysis
	url = https://github.com/tyiannak/pyAudioAnalysis
[submodule "chapter_4_modeling/train-diseases"]
	path = chapter_4_modeling/train-diseases
	url = https://github.com/NeuroLexDiagnostics/train-diseases
[submodule "chapter_7_design/nala"]
	path = chapter_7_design/nala
	url = https://github.com/jim-schwoebel/nala
[submodule "chapter__10_gettinginvolved/ultimate-guide-to-voice-assistants"]
	path = chapter__10_gettinginvolved/ultimate-guide-to-voice-assistants
	url = https://github.com/bentossell/ultimate-guide-to-voice-assistants
[submodule "chapter_4_modeling/download_audioset"]
	path = chapter_4_modeling/download_audioset
	url = https://github.com/jim-schwoebel/download_audioset
[submodule "chapter_4_modeling/audioset_models"]
	path = chapter_4_modeling/audioset_models
	url = https://github.com/jim-schwoebel/audioset_models
